@import 'compass/reset';
@import 'compass/css3';
@import 'compass/utilities/sprites';
//@import 'icons/*.png';

// Variables
$pale-green     : rgb(134,255,109);
$mid-green      : rgb( 71,120, 61);
$emerald-green  : rgb( 28,106, 26);
$dark-green     : rgb( 27, 61, 17);
//$dark-green     : rgb( 19, 61,  0);
$mid-gray       : rgb(147,146,151);
//$mid-gray       : rgb(187,186,191);
$dark-gray      : rgb( 41, 39, 43);
$terminal-white : rgb(190,190,200);
$pale-sky-blue  : rgb(115,203,190);
$black-alpha    : rgba(  0,  0,  0, 0.6);
$white-alpha    : rgba(255,255,255, 0.3);

$track-height       : 14px;
$player-width       : 500px;
$table-font-size    : 14px;
$table-border-width : 1px;
$table-border       : $table-border-width solid darken($terminal-white, 30%);
$table-td-pad-top   : 1px;
$table-td-pad-bot   : 3px;
$true-row-height    : $table-font-size + $table-td-pad-bot + $table-td-pad-top +
                      $table-border-width;

// *****
// Fonts
// *****
@include font-face("MediaIcons",
  font-files( "icomoon.woff", woff,
              "icomoon.ttf", ttf,
              "icomoon.svg", svg));

@include font-face("Inconsolata",
  font-files( "inconsolata-regular-webfont.ttf", ttf,
              "inconsolata-regular-webfont.woff", woff,
              "inconsolata-regular-webfont.svg", svg));

@include font-face("Inconsolata-Bold",
  font-files( "inconsolata-bold-webfont.ttf", ttf,
              "inconsolata-bold-webfont.woff", woff,
              "inconsolata-bold-webfont.svg", svg));

@include font-face("OpenSans-Bold",
  font-files( "opensans-extrabold-webfont.ttf", ttf,
              "opensans-extrabold-webfont.woff", woff,
              "opensans-extrabold-webfont.svg", svg));

@include font-face("OpenSans-SemiBold",
  font-files( "opensans-semibold-webfont.ttf", ttf,
              "opensans-semibold-webfont.woff", woff,
              "opensans-semibold-webfont.svg", svg));

// ******
// Mixins
// ******
@mixin absolute-center {
  margin  : auto;
  position: absolute;
  top     : 0;
  left    : 0;
  bottom  : 0;
  right   : 0;
}

@mixin metallic-gradient($color) {
  background :
    linear-gradient(
      $color 0%,
      $color 49%,
      darken($color, 12%) 50%,
      darken($color, 15%) 100%);
}

@mixin raised-button {
  border-radius     : 2px;
  border            : 1px solid $white-alpha;
  border-top        : 1px solid rgba(255,255,255, 0.8);
  box-shadow        : 0px 1px 3px black;
  @include metallic-gradient($mid-gray);
}

@mixin raised-button-hover {
  &:hover {
    box-shadow  : 0px 2px 3px $dark-green;
  }
}

@mixin raised-button-active {
  &:active {
    box-shadow  : 0px 1px 3px $emerald-green;
    @include metallic-gradient(darken($mid-gray, 5%));
  }
}

@mixin etched {
  color       : $dark-gray;
  text-shadow :
    0px -1px 0px rgba(  0,  0,  0, 0.8),
    0px 1px 0px  rgba(255,255,255, 0.6);
}

@mixin media-icon($size, $content) {
  font-family : 'MediaIcons';
  font-size   : $size;
  text-align  : center;
  height      : $size;
  content     : $content;
  @include etched;
  @include absolute-center;
}

@mixin device-bg {
  border-radius     : 8px;
  border            : 1px solid black;
  background-image  : linear-gradient(darken($mid-gray, 0%) 0%, darken($mid-gray, 15%)); 
  box-shadow        : 0px 1px 1px $black-alpha;
}

@mixin scrollbar($width, $height, $margin) {
  $margin       : 4px;
  position      : relative;
  margin        : $margin;
  float         : right;
  width         : $width - 2 * $margin - 1;
  height        : $height - 2 * $margin;
}

@mixin scrollbar-button($width, $margin) {
  position    : absolute;
  width       : $width - 2 * $margin - 1;
  height      : $width - 2 * $margin - 1;
  background-color  : $terminal-white;
  left        : 0px;
  top         : 0px;
  cursor      : ns-resize;
}

// ***************
// Element Styling
// ***************
html, body {
  background-color : rgb( 24, 24, 24);
}

#header {
  display           : inline-block;
  border            : 2px solid $dark-gray;
  background-color  : lighten($terminal-white, 10%);

  h1 {
    display           : inline-block;
    margin            : 4px;
    float             : left;
    padding           : 3px 5px 5px;
    font-family       : 'OpenSans-Bold';
    font-size         : 20px;
    color             : lighten($terminal-white, 10%);
    background-color  : $dark-gray;
  } 

  h2, h3 {
    margin-right      : 5px;
    display           : inline-block;
    float             : right;
  }

  h2 {
    margin-top        : 5px;
    font-family       : 'OpenSans-Bold';
    font-size         : 14px;
  }

  h3 {
    margin-top        : 4px;
    clear             : right;
    font-family       : 'OpenSans-SemiBold';
    font-size         : 8px;
  }
}

#container {
  @include device-bg;
  width       : 960px;
  margin      : 20px auto 0;
}

#audio-player {
  width             : $player-width + 20;
  margin-left       : auto;
  margin-right      : auto;
  //@include device-bg;
}

.center-contents {
  text-align  : center;
}

.display {
  $padding            : 10px;

  display             : inline-block;
  position            : relative;
  padding             : $padding;
  border-radius       : $padding;
  background-color    : $dark-gray;
  background-image    :
    linear-gradient(transparent 0%, black 100%),
    linear-gradient(transparent 1px, rgba(255,255,255,0.2) 2px);
  background-size     : 100% 100%, 10px 2px;
  box-shadow          :
    inset 3px 3px 5px black,
    inset -3px -3px 15px black,
    inset 0 5px 7px $white-alpha;
  text-align          : left;
  color               : $terminal-white;
  cursor              : default;
  @include user-select(none);
}

#track-data {
  $font-size          : 14px;
  $padding            : 10px;
  margin              : 10px auto;
  width               : $player-width;
  height              : 5 * $font-size;
  font-size           : $font-size;
  font-family         : 'Inconsolata-Bold';

  p:first-of-type span:first-of-type {
    color         : $pale-sky-blue;
  }

  p:not(:first-of-type)::before {
    white-space   : pre;
    content       : " ";
  }

  p:nth-child(4) {
    color         : lighten($emerald-green, 30%);
  }

  #cursor {
    background-color  : $terminal-white;
  }
}

#track-position {
  position      : relative;
  margin        : 0px auto 10px;
  height        : $track-height;
  width         : $player-width;
  border-radius : round($track-height/2);
  border        : solid 1px black;

  .bg {
    position          : absolute;
    height            : 100%;
    width             : 100%;
    top               : 0px;
    left              : 0px;
    z-index           : 1;
    border-radius     : round($track-height/2);
    box-shadow        :
      inset 0px 1px 1px $black-alpha,
      inset 0px -1px 2px $white-alpha;
    background-color  : $dark-gray;
  }

  .progress-bg {
    position          : absolute;
    height            : $track-height - 2;
    top               : 1px;
    left              : 0px;
    z-index           : 2;
    border-radius     : 8px;
    box-shadow        : 
      inset 0px -1px 1px lighten($emerald-green, 30%),
      inset 0px 1px 3px rgb(255,255,200);
    background-image  :
      linear-gradient(
        $pale-green 0%,
        $mid-green 55%,
        $dark-green 55%,
        $emerald-green 100%
      );
  }

  .bumper {
    position          : absolute;
    height            : $track-height + 4;
    width             : 32px;
    top               : -3px;
    left              : -1px;
    z-index           : 3;
    cursor            : ew-resize;
    @include raised-button;
    @include raised-button-hover;
  }
}

ul#player-buttons {
  list-style    : none;
  margin        : 0px auto 10px;
  width         : $player-width - 10;
  font-size     : 0px;

  li {
    position    : relative;
  }

  #prev, #play-pause, #next {
    float       : left;
  }
  
  #volume, #loop {
    float         : right;
  }

  .button {
    margin-top  : 6px;
  }
}

.clear-float {
  clear         : both;
  margin-bottom : 10px;
}

.button {
  margin-right  : 8px;
  width         : 32px;
  height        : 36px;
  @include raised-button;
  @include raised-button-hover;
  @include raised-button-active;
  cursor        : pointer;

  &::after {
    @include media-icon(28px, attr(icon-content));
  }
}

#volume {
  $radius       : 24px;
  position      : relative;
  width         : $radius * 2;
  height        : $radius * 2;
  @include raised-button;
  @include raised-button-hover;
  border-radius : $radius + 1;
  cursor        : pointer;

  &::after {
    @include media-icon(16px, attr(icon-content)); 
  }

  .indicator {
    height      : ($radius - 2) * 2;
    width       : ($radius - 2) * 2;
    @include absolute-center;

    &::after {
      $i-radius         : 2px;
      content           : "";
      position          : absolute;
      margin            : auto;
      left              : 0px;
      right             : 0px;
      bottom            : 0px;
      width             : $i-radius * 2;
      height            : $i-radius * 2;
      border-radius     : $i-radius + 1;
      background-color  : $dark-gray;
      border            : 1px solid $black-alpha;
    }
  }
}

table {
  font-family     : 'Inconsolata-Bold';
  font-size       : $table-font-size;

  th {
    padding             : 5px;
    border              : $table-border;
    border-bottom-width : 0;
    color               : $pale-sky-blue;
    height              : $table-font-size;
  }

  td {
    padding       : $table-td-pad-top 5px $table-td-pad-bot;
    border        : $table-border;
    color         : $terminal-white;
    height        : $table-font-size;
  }

  th, td {
    max-width     : 0px;
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
  }
}

td.data-container {
  padding       : 0;
}

div.scrollable {
  position      : relative;
  overflow      : hidden;
  //height        : $scrollable-window;

  table {
    float       : left;
    position    : absolute;
    top         : 0px;
    left        : 0px;
  }

  tr:not(.empty) {
    cursor      : pointer;

    &:hover td {
      background-color  : darken($terminal-white, 55%);
    }

    &:active td {
      background-color  : darken($terminal-white, 45%);
    }
  }

  tr.selected td {
    background-color  : darken($terminal-white, 50%);
  }

  tr.selected:hover td {
    background-color  : darken($terminal-white, 45%);
  }

  tr.selected:active td {
    background-color  : darken($terminal-white, 35%);
  }

  td:first-of-type {
    border-left-width   : 0;
  }

  tr:first-child td {
    border-top-width    : 0;
  }
}

#playlist-box {
  $scrollbar-width      : 2 * $table-font-size; // formerly 20px;
  $scrollable-window    : 8 * $true-row-height - 1;

  margin-left     : auto;
  margin-right    : auto;

  div.scrollable {
    height        : $scrollable-window;
  }

  // 25 characters wide
  colgroup.col-artist {
    width         : 25 * $table-font-size / 2;
  }

  // 40 characters wide
  colgroup.col-album {
    width         : 40 * $table-font-size / 2;
  }

  // 8 characters wide
  colgroup.col-track {
    width         : 8 * $table-font-size / 2;
  }

  // 50 characters wide
  colgroup.col-title {
    width         : 50 * $table-font-size / 2;
  }

  colgroup.col-buttons {
    width         : 2 * $table-font-size;
  }

  // Different width to account for PL buttons and scrollbar
  colgroup.col-inner-title {
    width       : 50 * $table-font-size / 2 + 4 * $table-font-size - $scrollbar-width;
  }

  // Center Track #
  th:nth-of-type(3), td:nth-of-type(3) {
    text-align    : center;
  }

  // Center PL buttons
  th:nth-of-type(5), th:nth-of-type(6) {
    text-align    : center;
    padding       : 1px 0px 0px;
  }

  .scrollbar {
    @include scrollbar($scrollbar-width, $scrollable-window, 4px);

    .indicator {
      @include scrollbar-button($scrollbar-width, 4px);
    }
  }
}

.current td {
  color         : lighten($emerald-green, 30%);
}

.clickable-cell {
  cursor          : pointer;

  &:hover {
    font-size     : $table-font-size + 2;
    padding       : 0px;
  }
  
  &:active {
    font-size     : $table-font-size - 2;
    padding       : 0px;
  }
}

#shuffle::after {
    font-family   : 'MediaIcons';
    content       : '\e60a';
    text-align    : center;
}

#trash::after {
    font-family   : 'MediaIcons';
    content       : '\e60b';
    text-align    : center;
}

#library-box {
  $scrollbar-width      : 2 * $table-font-size; // formerly 20px;
  $scrollable-window    : 8 * $true-row-height - 1;

  margin-left           : auto;
  margin-right          : auto;
  
  div.scrollable {
    height              : $scrollable-window;
  }

  colgroup.col-category {
    width         : 917px - $table-font-size * 54;
  }

  colgroup.col-letter {
    width         : $table-font-size * 2;
  }

  colgroup.col-content {
    width         : 917px - $scrollbar-width;
  }

  th:nth-of-type(n+2) {
    text-align    : center;
  }

  .scrollbar {
    @include scrollbar($scrollbar-width, $scrollable-window, 4px);

    .indicator {
      @include scrollbar-button($scrollbar-width, 4px);
    }
  }
}
