%div.progress-slider
  %div.slider-bg
  %div.slider-progress-bg
  %div.slider-bumper
%div.configuration
  %div.expand
    %button{type: 'button'}
      +
  %div.config-form
    %h2 My config stuff goes here
%audio{controls: true}
%button{type: 'button', onclick: 'updateLibraryTable();'}
  Click me!
%h2 Library
%table
  %tbody{id: 'library'}
    %tr
      %th Artist
      %th Album
      %th Track #
      %th Title
%h2 Playlist
%table
  %tbody{id: 'playlist'}
    %tr
      %th Artist
      %th Album
      %th Track #
      %th Title
