%h2.span-24
  Audio Node Test
%button{type: 'button', onclick: 'updateListingTable()'}
  Click me!
%table
  %tbody{id: 'selections'}
    %tr
      %th Artist
      %th Album
      %th Track #
      %th Title
