%div{id: 'container'}
  %div{id: 'audio-player', class: 'center-contents'}
    %div{id: 'track-data', class: 'display'}
      %p<
        %span< @FGL ~$
        %span{id: 'command'}<
      %p{style: 'display : none;'}<
        %span{id: 'title'}<
        %span< by
        %span{id: 'artist'}<
      %p{style: 'display : none;'}<
        %span< Track
        %span{id: 'track'}<
        %span< from
        %span{id: 'album'}<
      %p{style: 'display : none;'}<
        %span< [
        %span{id: 'status'}<
        %span{id: 'animated-text'}
        %span< ]
    %div{id: 'track-position'}
      %div.bg
      %div.progress-bg
      %div.bumper
    %ul{id: 'player-buttons'}
      %li{id: 'prev', class: 'button', 'icon-content' => "\ue602"}
      %li{id: 'play-pause', class: 'button', 'icon-content' => "\ue600"}
      %li{id: 'next', class: 'button', 'icon-content' => "\ue603"}
      %li{id: 'volume', "icon-content" => "\ue604"}
        %div{class: 'indicator'}
      %li{id: 'loop', class: 'button', 'icon-content' => "\ue609"}
    %div{class: 'clear-float'}
  %div{id: 'playlist-box'}
    %div{class: 'center-contents'}
      %div{class: 'display'}
        %table
          %colgroup{span: '1', class: 'col-artist'}
          %colgroup{span: '1', class: 'col-album'}
          %colgroup{span: '1', class: 'col-track'}
          %colgroup{span: '1', class: 'col-title'}
          %colgroup{span: '2', class: 'col-buttons'}
          %thead{id: 'something'}
            %tr
              %th Artist
              %th Album
              %th Track
              %th Title
              %th{id: 'shuffle', class:'clickable-cell'}
              %th{id: 'trash', class:'clickable-cell'}
          %tbody
            %tr
              %td{class: 'data-container', colspan: '6'}
                %div{class: 'scrollable'}
                  %table
                    %colgroup{span: '1', class: 'col-artist'}
                    %colgroup{span: '1', class: 'col-album'}
                    %colgroup{span: '1', class: 'col-track'}
                    %colgroup{span: '1', class: 'col-inner-title'}
                    %tbody{id: 'playlist'}
                      - 8.times do
                        %tr{class: 'empty'}
                          - 4.times do
                            %td
                  %div{id: 'pl-scrollbar', class: 'scrollbar'}
                    %div{class: 'indicator'}
    %div{class: 'clear-float'}
  %div{id: 'library-box'}
    %div{class: 'center-contents'}
      %div{class: 'display'}
        %table
          %colgroup{span: '1', class: 'col-category'}
          %colgroup{span: '27', class: 'col-letter'}
          %thead{id: 'lib-nav'}
            %tr
              %th Artists ...
              - ['#',*('A'..'Z')].each do |letter|
                %th{class: 'clickable-cell'}=letter
            %tr
              %th{colspan: '27'}
                %span{id: 'nav-path1'}
                  D
                %span='>'
                %span{id: 'nav-path2'}
                  Disasterpeace
                %span='>'
                %span{id: 'nav-path3'}
                  Rise of the Obsidian Interstellar
              %th{id: 'add-song', class:'clickable-cell'} +
          %tbody
            %tr
              %td{class: 'data-container', colspan: '28'}
                %div{class: 'scrollable'}
                  %table
                    %colgroup{span: '1', class: 'col-content'}
                    %thead{id: 'library-headings'}
                    %tbody{id: 'library'}
                      - 8.times do
                        %tr{class: 'empty'}
                          %td
                  %div{id: 'lib-scrollbar', class: 'scrollbar'}
                    %div{class: 'indicator'}
    %div{class: 'clear-float'}
