!!! 5
%html{lang: 'eng'}
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: '/css/main.css'}
    %script{src: '/source/script.js'}
    %title Music
  %body
    %div.contents.container
      %header.span-24
        %h1{class: 'container'}
          Little ole Music Player
        %main.span-24
          =yield
