!!! 5
%html{lang: 'eng'}
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/main.css'}
    %script{src: '/source/jquery-1.11.0.min.js'}
    %script{src: '/source/script.js'}
    %title Music
  %body
    %header
      %h1 Red Shoes
      %div.hr
      %h3 Music Player
    %main
      =yield
