!!! 5
%html{lang: 'eng'}
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/main.css'}
    %script{src: '/source/jquery-1.11.0.min.js'}
    %script{src: '/source/animate.js'}
    %script{src: '/source/audioPlayer.js'}
    %script{src: '/source/playlist.js'}
    %script{src: '/source/script.js'}
    %title Music
  %body
    %header
      %h1 FG179
      %h2 Remote Audio
      %h3 Ver 2.71
    %main
      =yield
