/* line 17, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "MediaIcons";
  src: url('/fonts/icomoon.woff') format('woff'), url('/fonts/icomoon.ttf') format('truetype'), url('/fonts/icomoon.svg') format('svg');
}

@font-face {
  font-family: "Inconsolata";
  src: url('/fonts/inconsolata-regular-webfont.ttf') format('truetype'), url('/fonts/inconsolata-regular-webfont.woff') format('woff'), url('/fonts/inconsolata-regular-webfont.svg') format('svg');
}

@font-face {
  font-family: "Inconsolata-Bold";
  src: url('/fonts/inconsolata-bold-webfont.ttf') format('truetype'), url('/fonts/inconsolata-bold-webfont.woff') format('woff'), url('/fonts/inconsolata-bold-webfont.svg') format('svg');
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url('/fonts/opensans-extrabold-webfont.ttf') format('truetype'), url('/fonts/opensans-extrabold-webfont.woff') format('woff'), url('/fonts/opensans-extrabold-webfont.svg') format('svg');
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url('/fonts/opensans-semibold-webfont.ttf') format('truetype'), url('/fonts/opensans-semibold-webfont.woff') format('woff'), url('/fonts/opensans-semibold-webfont.svg') format('svg');
}

/* line 120, ../scss/main.scss */
html, body {
  background-color: gray;
}

/* line 124, ../scss/main.scss */
#header {
  display: inline-block;
  border: 2px solid #29272b;
  background-color: #dadadf;
}
/* line 129, ../scss/main.scss */
#header h1 {
  display: inline-block;
  margin: 4px;
  float: left;
  padding: 3px 5px 5px;
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  color: #dadadf;
  background-color: #29272b;
}
/* line 140, ../scss/main.scss */
#header h2, #header h3 {
  margin-right: 5px;
  display: inline-block;
  float: right;
}
/* line 146, ../scss/main.scss */
#header h2 {
  margin-top: 5px;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
}
/* line 152, ../scss/main.scss */
#header h3 {
  margin-top: 4px;
  clear: right;
  font-family: 'OpenSans-SemiBold';
  font-size: 8px;
}

/* line 160, ../scss/main.scss */
#container {
  border-radius: 8px;
  border: 1px solid black;
  background-image: linear-gradient(#939297 0%, #6d6c71);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
  width: 960px;
  margin: 20px auto 0;
}

/* line 166, ../scss/main.scss */
#audio-player {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
}

/* line 173, ../scss/main.scss */
.center-contents {
  text-align: center;
}

/* line 177, ../scss/main.scss */
.display {
  position: relative;
  background-color: #29272b;
  background-image: linear-gradient(transparent 0%, #000000 100%), linear-gradient(transparent 1px, rgba(255, 255, 255, 0.2) 2px);
  background-size: 100% 100%, 10px 2px;
  box-shadow: inset 3px 3px 5px black, inset -3px -3px 15px black, inset 0 5px 7px rgba(255, 255, 255, 0.3);
  color: #bebec8;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 193, ../scss/main.scss */
#track-data {
  padding: 5px;
  margin: 10px auto;
  width: 490px;
  height: 70px;
  font-size: 14px;
  font-family: 'Inconsolata-Bold';
  border-radius: 5px;
}
/* line 204, ../scss/main.scss */
#track-data p:first-of-type span:first-of-type {
  color: #73cbbe;
}
/* line 208, ../scss/main.scss */
#track-data p:not(:first-of-type)::before {
  white-space: pre;
  content: " ";
}
/* line 213, ../scss/main.scss */
#track-data p:nth-child(4) {
  color: #4ed34a;
}
/* line 217, ../scss/main.scss */
#track-data #cursor {
  background-color: #bebec8;
}

/* line 222, ../scss/main.scss */
#track-position {
  position: relative;
  margin: 0px auto 10px;
  height: 14px;
  width: 500px;
  border-radius: 7px;
  border: solid 1px black;
}
/* line 230, ../scss/main.scss */
#track-position .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 7px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.6), inset 0px -1px 2px rgba(255, 255, 255, 0.3);
  background-color: #29272b;
}
/* line 244, ../scss/main.scss */
#track-position .progress-bg {
  position: absolute;
  height: 12px;
  top: 1px;
  left: 0px;
  z-index: 2;
  border-radius: 8px;
  box-shadow: inset 0px -1px 1px #4ed34a, inset 0px 1px 3px #ffffc8;
  background-image: linear-gradient(#86ff6d 0%, #47783d 55%, #1b3d11 55%, #1c6a1a 100%);
}
/* line 263, ../scss/main.scss */
#track-position .bumper {
  position: absolute;
  height: 18px;
  width: 32px;
  top: -3px;
  left: -1px;
  z-index: 3;
  cursor: ew-resize;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 3px black;
  background: linear-gradient(#939297 0%, #939297 49%, #747379 50%, #6d6c71 100%);
}
/* line 81, ../scss/main.scss */
#track-position .bumper:hover {
  box-shadow: 0px 2px 3px #1b3d11;
}

/* line 276, ../scss/main.scss */
ul#player-buttons {
  list-style: none;
  margin: 0px auto 10px;
  width: 490px;
  font-size: 0px;
}
/* line 282, ../scss/main.scss */
ul#player-buttons li {
  position: relative;
}
/* line 286, ../scss/main.scss */
ul#player-buttons #prev, ul#player-buttons #play-pause, ul#player-buttons #next {
  float: left;
}
/* line 290, ../scss/main.scss */
ul#player-buttons #volume, ul#player-buttons #loop {
  float: right;
}
/* line 294, ../scss/main.scss */
ul#player-buttons .button {
  margin-top: 6px;
}

/* line 299, ../scss/main.scss */
.clear-float {
  clear: both;
  margin-bottom: 10px;
}

/* line 304, ../scss/main.scss */
.button {
  margin-right: 8px;
  width: 32px;
  height: 36px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 3px black;
  background: linear-gradient(#939297 0%, #939297 49%, #747379 50%, #6d6c71 100%);
  cursor: pointer;
}
/* line 81, ../scss/main.scss */
.button:hover {
  box-shadow: 0px 2px 3px #1b3d11;
}
/* line 87, ../scss/main.scss */
.button:active {
  box-shadow: 0px 1px 3px #1c6a1a;
  background: linear-gradient(#86858b 0%, #86858b 49%, #68676c 50%, #605f64 100%);
}
/* line 313, ../scss/main.scss */
.button::after {
  font-family: 'MediaIcons';
  font-size: 28px;
  text-align: center;
  height: 28px;
  content: attr(icon-content);
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 318, ../scss/main.scss */
#volume {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 3px black;
  background: linear-gradient(#939297 0%, #939297 49%, #747379 50%, #6d6c71 100%);
  border-radius: 25px;
  cursor: pointer;
}
/* line 81, ../scss/main.scss */
#volume:hover {
  box-shadow: 0px 2px 3px #1b3d11;
}
/* line 328, ../scss/main.scss */
#volume::after {
  font-family: 'MediaIcons';
  font-size: 16px;
  text-align: center;
  height: 16px;
  content: attr(icon-content);
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 332, ../scss/main.scss */
#volume .indicator {
  height: 44px;
  width: 44px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 337, ../scss/main.scss */
#volume .indicator::after {
  content: "";
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 4px;
  height: 4px;
  border-radius: 3px;
  background-color: #29272b;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

/* line 354, ../scss/main.scss */
#playlist-box {
  margin-left: auto;
  margin-right: auto;
}
/* line 366, ../scss/main.scss */
#playlist-box div.display {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
/* line 373, ../scss/main.scss */
#playlist-box div.scrollable {
  position: relative;
  overflow: hidden;
  height: 151px;
}
/* line 378, ../scss/main.scss */
#playlist-box div.scrollable table {
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 386, ../scss/main.scss */
#playlist-box h2 {
  float: left;
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  text-transform: uppercase;
}
/* line 394, ../scss/main.scss */
#playlist-box table {
  clear: both;
  font-family: 'Inconsolata-Bold';
  font-size: 14px;
  color: #bebec8;
}
/* line 400, ../scss/main.scss */
#playlist-box table colgroup.col-artist {
  width: 175px;
}
/* line 404, ../scss/main.scss */
#playlist-box table colgroup.col-album {
  width: 280px;
}
/* line 408, ../scss/main.scss */
#playlist-box table colgroup.col-track {
  width: 56px;
}
/* line 412, ../scss/main.scss */
#playlist-box table colgroup.col-title {
  width: 350px;
}
/* line 416, ../scss/main.scss */
#playlist-box table colgroup.col-buttons {
  width: 28px;
}
/* line 421, ../scss/main.scss */
#playlist-box th, #playlist-box td {
  max-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 428, ../scss/main.scss */
#playlist-box th {
  padding: 3px 5px 5px;
  color: #73cbbe;
  border: 1px solid #6d6d80;
  border-bottom: 0;
}
/* line 435, ../scss/main.scss */
#playlist-box td.data-container {
  padding: 0px;
  border: 1px solid #6d6d80;
}
/* line 439, ../scss/main.scss */
#playlist-box td.data-container colgroup.col-title {
  width: 378px;
}
/* line 444, ../scss/main.scss */
#playlist-box th:nth-of-type(3), #playlist-box td:nth-of-type(3) {
  text-align: center;
}
/* line 448, ../scss/main.scss */
#playlist-box th:nth-of-type(5), #playlist-box th:nth-of-type(6) {
  text-align: center;
  padding: 1px 0px 0px;
}
/* line 454, ../scss/main.scss */
#playlist-box #playlist tr:not(.empty) {
  cursor: pointer;
}
/* line 457, ../scss/main.scss */
#playlist-box #playlist tr:not(.empty):hover td {
  background-color: #32323b;
}
/* line 461, ../scss/main.scss */
#playlist-box #playlist tr:not(.empty):active td {
  background-color: #4a4a57;
}
/* line 466, ../scss/main.scss */
#playlist-box #playlist tr.selected td {
  background-color: #3e3e49;
}
/* line 470, ../scss/main.scss */
#playlist-box #playlist tr.selected:hover td {
  background-color: #4a4a57;
}
/* line 474, ../scss/main.scss */
#playlist-box #playlist tr.selected:active td {
  background-color: #616173;
}
/* line 478, ../scss/main.scss */
#playlist-box #playlist td {
  padding: 1px 5px 3px;
  height: 14px;
  border: 1px solid #6d6d80;
}
/* line 483, ../scss/main.scss */
#playlist-box #playlist td:first-child {
  border-left: 0;
}
/* line 492, ../scss/main.scss */
#playlist-box #playlist tr:first-child td {
  border-top: 0;
}
/* line 501, ../scss/main.scss */
#playlist-box div.scrollbar {
  position: relative;
  margin: 4px;
  float: right;
  width: 19px;
  height: 143px;
}
/* line 510, ../scss/main.scss */
#playlist-box div.scrollbar div.indicator {
  display: none;
  position: absolute;
  width: 19px;
  height: 19px;
  background-color: #bebec8;
  left: 0px;
  top: 0px;
  cursor: ns-resize;
}

/* line 523, ../scss/main.scss */
.current {
  color: #4ed34a;
}

/* line 527, ../scss/main.scss */
ul#playlist-buttons {
  list-style: none;
  float: right;
  font-size: 0px;
}
/* line 532, ../scss/main.scss */
ul#playlist-buttons li {
  position: relative;
  display: inline-block;
}

/* line 538, ../scss/main.scss */
#shuffle {
  cursor: pointer;
}
/* line 541, ../scss/main.scss */
#shuffle::after {
  font-family: 'MediaIcons';
  content: '\e60a';
  text-align: center;
}
/* line 548, ../scss/main.scss */
#shuffle:hover {
  font-size: 16px;
  padding: 0px;
}
/* line 553, ../scss/main.scss */
#shuffle:active {
  font-size: 12px;
  padding: 0px;
}

/* line 559, ../scss/main.scss */
#trash {
  cursor: pointer;
}
/* line 562, ../scss/main.scss */
#trash::after {
  font-family: 'MediaIcons';
  content: '\e60b';
  text-align: center;
}
/* line 569, ../scss/main.scss */
#trash:hover {
  font-size: 16px;
  padding: 0px;
}
/* line 574, ../scss/main.scss */
#trash:active {
  font-size: 12px;
  padding: 0px;
}
