/* line 17, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 66, icons/*.png */
.icons-sprite {
  background: url('/images/icons-s5cfdf6f9e0.png') no-repeat;
}

@font-face {
  font-family: "MediaIcons";
  src: url('/fonts/icomoon.woff') format('woff'), url('/fonts/icomoon.ttf') format('truetype'), url('/fonts/icomoon.svg') format('svg');
}

@font-face {
  font-family: "Inconsolata";
  src: url('/fonts/inconsolata-regular-webfont.ttf') format('truetype'), url('/fonts/inconsolata-regular-webfont.woff') format('woff'), url('/fonts/inconsolata-regular-webfont.svg') format('svg');
}

@font-face {
  font-family: "Inconsolata-Bold";
  src: url('/fonts/inconsolata-bold-webfont.ttf') format('truetype'), url('/fonts/inconsolata-bold-webfont.woff') format('woff'), url('/fonts/inconsolata-bold-webfont.svg') format('svg');
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url('/fonts/opensans-extrabold-webfont.ttf') format('truetype'), url('/fonts/opensans-extrabold-webfont.woff') format('woff'), url('/fonts/opensans-extrabold-webfont.svg') format('svg');
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url('/fonts/opensans-semibold-webfont.ttf') format('truetype'), url('/fonts/opensans-semibold-webfont.woff') format('woff'), url('/fonts/opensans-semibold-webfont.svg') format('svg');
}

/* line 110, ../scss/main.scss */
html, body {
  background-color: gray;
}

/* line 114, ../scss/main.scss */
#header {
  display: inline-block;
  border: 2px solid #29272b;
  background-color: #dadadf;
}
/* line 119, ../scss/main.scss */
#header h1 {
  display: inline-block;
  margin: 4px;
  float: left;
  padding: 3px 5px 5px;
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  color: #dadadf;
  background-color: #29272b;
}
/* line 130, ../scss/main.scss */
#header h2, #header h3 {
  margin-right: 5px;
  display: inline-block;
  float: right;
}
/* line 136, ../scss/main.scss */
#header h2 {
  margin-top: 5px;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
}
/* line 142, ../scss/main.scss */
#header h3 {
  margin-top: 4px;
  clear: right;
  font-family: 'OpenSans-SemiBold';
  font-size: 8px;
}

/* line 150, ../scss/main.scss */
#audio-player {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: 1px solid black;
  background-image: linear-gradient(#939297 0%, #6d6c71);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

/* line 160, ../scss/main.scss */
.center-contents {
  text-align: center;
}

/* line 164, ../scss/main.scss */
.display {
  position: relative;
  background-color: #29272b;
  background-image: linear-gradient(transparent 0%, #000000 100%);
  box-shadow: inset 3px 3px 5px black, inset -3px -3px 15px black, inset 0 5px 7px rgba(255, 255, 255, 0.3);
  color: #bebec8;
}
/* line 174, ../scss/main.scss */
.display::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 1px, rgba(255, 255, 255, 0.2) 2px);
  background-size: 10px 2px;
}

/* line 189, ../scss/main.scss */
#track-data {
  padding: 5px;
  margin: 10px auto;
  width: 490px;
  height: 70px;
  font-size: 14px;
  font-family: 'Inconsolata-Bold';
  border-radius: 5px;
}
/* line 200, ../scss/main.scss */
#track-data p:first-of-type span:first-of-type {
  color: #73cbbe;
}
/* line 204, ../scss/main.scss */
#track-data p:not(:first-of-type)::before {
  white-space: pre;
  content: " ";
}
/* line 209, ../scss/main.scss */
#track-data p:nth-child(4) {
  color: #4ed34a;
}
/* line 213, ../scss/main.scss */
#track-data #cursor {
  background-color: #bebec8;
}

/* line 218, ../scss/main.scss */
#track-position {
  position: relative;
  margin: 0px auto 10px;
  height: 14px;
  width: 500px;
  border-radius: 7px;
  border: solid 1px black;
}
/* line 226, ../scss/main.scss */
#track-position .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-radius: 7px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.6), inset 0px -1px 2px rgba(255, 255, 255, 0.3);
  background-color: #29272b;
}
/* line 240, ../scss/main.scss */
#track-position .progress-bg {
  position: absolute;
  height: 12px;
  top: 1px;
  left: 0px;
  z-index: 2;
  border-radius: 8px;
  box-shadow: inset 0px -1px 1px #4ed34a, inset 0px 1px 3px #ffffc8;
  background-image: linear-gradient(#86ff6d 0%, #47783d 55%, #1b3d11 55%, #1c6a1a 100%);
}
/* line 259, ../scss/main.scss */
#track-position .bumper {
  position: absolute;
  height: 18px;
  width: 32px;
  top: -3px;
  left: -1px;
  z-index: 3;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 3px black;
  background: linear-gradient(#939297 0%, #939297 49%, #747379 50%, #6d6c71 100%);
}
/* line 81, ../scss/main.scss */
#track-position .bumper:hover {
  box-shadow: 0px 2px 3px #1b3d11;
}

/* line 271, ../scss/main.scss */
ul#player-buttons {
  list-style: none;
  margin: 0px auto 10px;
  width: 490px;
  font-size: 0px;
}
/* line 277, ../scss/main.scss */
ul#player-buttons li {
  position: relative;
}
/* line 281, ../scss/main.scss */
ul#player-buttons #prev, ul#player-buttons #play-pause, ul#player-buttons #next {
  float: left;
  margin-top: 6px;
}

/* line 287, ../scss/main.scss */
.clear-float {
  clear: both;
  margin-bottom: 10px;
}

/* line 292, ../scss/main.scss */
.button {
  margin-right: 8px;
  width: 32px;
  height: 36px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 3px black;
  background: linear-gradient(#939297 0%, #939297 49%, #747379 50%, #6d6c71 100%);
}
/* line 81, ../scss/main.scss */
.button:hover {
  box-shadow: 0px 2px 3px #1b3d11;
}
/* line 87, ../scss/main.scss */
.button:active {
  box-shadow: 0px 1px 3px #1c6a1a;
  background: linear-gradient(#86858b 0%, #86858b 49%, #68676c 50%, #605f64 100%);
}

/* line 301, ../scss/main.scss */
#next::after {
  font-family: 'MediaIcons';
  font-size: 28px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 28px;
  content: "\e603";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 305, ../scss/main.scss */
#play-pause.play::after {
  font-family: 'MediaIcons';
  font-size: 28px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 28px;
  content: "\e600";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 309, ../scss/main.scss */
#play-pause.pause::after {
  font-family: 'MediaIcons';
  font-size: 28px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 28px;
  content: "\e601";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 313, ../scss/main.scss */
#prev::after {
  font-family: 'MediaIcons';
  font-size: 28px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 28px;
  content: "\e602";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 317, ../scss/main.scss */
#volume {
  position: relative;
  float: right;
  width: 48px;
  height: 48px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 3px black;
  background: linear-gradient(#939297 0%, #939297 49%, #747379 50%, #6d6c71 100%);
  border-radius: 25px;
}
/* line 81, ../scss/main.scss */
#volume:hover {
  box-shadow: 0px 2px 3px #1b3d11;
}
/* line 327, ../scss/main.scss */
#volume .indicator {
  height: 44px;
  width: 44px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 332, ../scss/main.scss */
#volume .indicator::after {
  content: "";
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 4px;
  height: 4px;
  border-radius: 3px;
  background-color: #29272b;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

/* line 349, ../scss/main.scss */
.mute::after {
  font-family: 'MediaIcons';
  font-size: 16px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 16px;
  content: "\e608";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 353, ../scss/main.scss */
.soft-volume::after {
  font-family: 'MediaIcons';
  font-size: 16px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 16px;
  content: "\e607";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 357, ../scss/main.scss */
.low-volume::after {
  font-family: 'MediaIcons';
  font-size: 16px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 16px;
  content: "\e606";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 361, ../scss/main.scss */
.mid-volume::after {
  font-family: 'MediaIcons';
  font-size: 16px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 16px;
  content: "\e605";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 365, ../scss/main.scss */
.high-volume::after {
  font-family: 'MediaIcons';
  font-size: 16px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 16px;
  content: "\e604";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 369, ../scss/main.scss */
#playlist-box {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 379, ../scss/main.scss */
#playlist-box div.display {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}
/* line 386, ../scss/main.scss */
#playlist-box div.scrollable {
  position: relative;
  overflow: hidden;
  height: 94px;
}
/* line 391, ../scss/main.scss */
#playlist-box div.scrollable table {
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 399, ../scss/main.scss */
#playlist-box h2 {
  float: left;
}
/* line 403, ../scss/main.scss */
#playlist-box table {
  clear: both;
  font-family: 'Inconsolata-Bold';
  font-size: 14px;
  color: #bebec8;
}
/* line 409, ../scss/main.scss */
#playlist-box table colgroup.col-artist {
  width: 175px;
}
/* line 413, ../scss/main.scss */
#playlist-box table colgroup.col-album {
  width: 280px;
}
/* line 417, ../scss/main.scss */
#playlist-box table colgroup.col-track {
  width: 56px;
}
/* line 421, ../scss/main.scss */
#playlist-box table colgroup.col-title {
  width: 350px;
}
/* line 426, ../scss/main.scss */
#playlist-box th, #playlist-box td {
  max-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 433, ../scss/main.scss */
#playlist-box th {
  padding: 1px 5px 3px;
  color: #73cbbe;
  border: 1px solid #6d6d80;
  border-bottom: 0;
}
/* line 440, ../scss/main.scss */
#playlist-box td.data-container {
  padding: 0px;
  border: 1px solid #6d6d80;
}
/* line 444, ../scss/main.scss */
#playlist-box td.data-container colgroup.col-title {
  width: 330px;
}
/* line 450, ../scss/main.scss */
#playlist-box #playlist td {
  padding: 1px 5px 3px;
  border: 1px solid #6d6d80;
}
/* line 454, ../scss/main.scss */
#playlist-box #playlist td:first-child {
  border-left: 0;
}
/* line 463, ../scss/main.scss */
#playlist-box #playlist tr:first-child td {
  border-top: 0;
}
/* line 472, ../scss/main.scss */
#playlist-box th:nth-of-type(3), #playlist-box td:nth-of-type(3) {
  text-align: center;
}
/* line 476, ../scss/main.scss */
#playlist-box div.scrollbar {
  position: relative;
  float: right;
  width: 20px;
  height: 100%;
}
/* line 482, ../scss/main.scss */
#playlist-box div.scrollbar div.indicator {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #bebec8;
  top: 3px;
  left: 4px;
}

/* line 493, ../scss/main.scss */
.current {
  color: #4ed34a;
}

/* line 497, ../scss/main.scss */
ul#playlist-buttons {
  list-style: none;
  float: right;
  font-size: 0px;
}
/* line 502, ../scss/main.scss */
ul#playlist-buttons li {
  position: relative;
  display: inline-block;
}

/* line 508, ../scss/main.scss */
#shuffle::after {
  font-family: 'MediaIcons';
  font-size: 28px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 28px;
  content: "\e60a";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 512, ../scss/main.scss */
#loop::after {
  font-family: 'MediaIcons';
  font-size: 28px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 28px;
  content: "\e609";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* line 516, ../scss/main.scss */
#trash::after {
  font-family: 'MediaIcons';
  font-size: 28px;
  text-align: center;
  color: #29272b;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.6);
  height: 28px;
  content: "\e60b";
  cursor: default;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
